ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
  
  ion-footer {
    --ion-safe-area-bottom: 0px;
  }
  
  ion-item {
    margin: 0;
    padding: 0;
  }
  
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
  